{% extends "base.html" %} {% block content %}

<script>
  async function sendMessage() {
    let fd = new FormData();
    let token = "{{ csrf_token }}";
    fd.append("textmessage", messageField.value);
    fd.append("csrfmiddlewaretoken", token);
    try {
      messageContainer.innerHTML += messageHTMLDelete();
      messageField.value = ``;
      let response = await fetch("/chat/", {
        method: "POST",
        body: fd,
      });

      let responseAsJson = await response.json();
      let jsonParseObject = JSON.parse(responseAsJson);
      let messageText = jsonParseObject.fields.text;
      let hours = getMessageHours(jsonParseObject);
      let minutes = getMessageMinutes(jsonParseObject);

      document.getElementById("deleteMessage").remove();

      messageContainer.innerHTML += messageHTML(messageText, hours, minutes);

    } catch (e) {
      console.error("An error eccoured", e);
    }
  }

  function getMessageHours(jsonParseObject){
    let messageDateString = jsonParseObject.fields.created_at;
    let messageDate = new Date(messageDateString);
    let hours = messageDate.getHours();
    return hours;
  }

  function getMessageMinutes(jsonParseObject){
    let messageDateString = jsonParseObject.fields.created_at;
    let messageDate = new Date(messageDateString);
    let minutes = messageDate.getMinutes(); 
    return minutes;
  }

  function messageHTMLDelete(){
    return `
    <div class="message-outbox-end" id="deleteMessage">
      <div class="message-box-user">
        <div class="message-name-container">{{request.user}}:</div>
        <div class="message-text-container">${messageField.value}</div>
        {% load tz %}
        <div class="message-date-container">
          {{message.created_at|date:'H:i'}}
        </div>
      </div>
    </div>`;
  }


  function messageHTML(messageText, hours, minutes){
    return `
    <div class="message-outbox-end">
      <div class="message-box-user">
        <div class="message-name-container">{{request.user}}:</div>
        <div class="message-text-container">${messageText}</div>
        {% load tz %}
        <div class="message-date-container">
          ${hours}:${minutes}
        </div>
      </div>
    </div>`;
  }
</script>

{% if request.user.is_authenticated%}
<div class="message-container" id="messageContainer">
  {% for message in messages %} {% if request.user == message.author %}
  <div class="message-outbox-end">
    <div class="message-box-user">
      <div class="message-name-container">{{message.author}}:</div>
      <div class="message-text-container">{{message.text}}</div>
      {% load tz %}
      <div class="message-date-container">
        {{message.created_at|date:'H:i'}}
      </div>
    </div>
  </div>
  {% else %}
  <div class="message-outbox-start">
    <div class="message-box">
      <div class="message-name-container">{{message.author}}:</div>
      <div class="message-text-container">{{message.text}}</div>
      {% load tz %}
      <div class="message-date-container">
        {{message.created_at|date:'H:i'}}
      </div>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>

<form
  onsubmit="sendMessage(); return false"
  method="post"
  class="send-message-container"
>
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      name="textmessage"
      type="text"
      id="messageField"
    />
    <label class="mdl-textfield__label" for="messageField">Text...</label>
  </div>
  <button
    class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
  >
    <i class="material-icons">add</i>
  </button>
</form>
{% else %}

<h2>Nicht eingeloggt</h2>
<p>Du bist nicht eingeloggt, bitte logge dich ein!</p>
<br />
Bitte klicke <a href="/login/">hier</a>

{% endif %} {% endblock %}
