.page-content {
  padding: 100px 100px;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrong-password {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  padding-top: 32px;
}

.grey-text{
  color: grey;
}