{% extends "base.html" %} {% block content %}

<div class="submit-btn return-btn">
  <a href="/login/">
    <button
      class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
    >
      Back to Login
    </button>
  </a>
</div>

<form method="post">
  {% csrf_token %}
  <input type="hidden" name="redirect" value="{{ redirect }}" />
  <div class="login-box">
    <div class="mdl-textfield mdl-js-textfield">
      <input
        class="mdl-textfield__input"
        type="text"
        id="username"
        name="username"
      />
      <label class="mdl-textfield__label" for="username">Username</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield">
      <input
        class="mdl-textfield__input"
        type="password"
        id="password"
        name="password1"
        onkeyup="passwordDontMatch()"
        onfocus="showPwReq()"
      />
      <label class="mdl-textfield__label" for="password1">Password</label>
    </div>

    <span id="passwordDontMatch" class="password-dont-match d-none"
      >Password dont match</span
    >

    <div class="mdl-textfield mdl-js-textfield">
      <input
        class="mdl-textfield__input"
        type="password"
        id="password_confirm"
        name="password2"
        onkeyup="passwordDontMatch()"
        onfocus="showPwReq()"
      />
      <label class="mdl-textfield__label" for="password2"
        >Repeat password</label
      >
    </div>

    <span id="passwordDontMatchConfirm" class="password-dont-match d-none"
      >Password dont match</span
    >
    <div class="pw-req-box d-none" id="PwReqBox">
      <h4>Password requirements:</h4>
      <span class="pw-req-text"
        >The password requires at least 9 characters and must not be the same as
        the user name. <br>The password can’t be a commonly used password. <br>The password can’t be entirely numeric. <br>The password can’t be too similar to the users other personal information.</span
      >
    </div>
    <div class="submit-btn">
      <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
      >
        register
      </button>
    </div>
  </div>
</form>

<script>
  function passwordDontMatch() {
    let dontMatch = document.getElementById("passwordDontMatch");
    let dontMatchConfirm = document.getElementById("passwordDontMatchConfirm");
    let password = document.getElementById("password").value;
    let passwordConfirm = document.getElementById("password_confirm").value;

    console.log(password, passwordConfirm);

    if (password !== passwordConfirm) {
      dontMatch.classList.remove("d-none");
      dontMatchConfirm.classList.remove("d-none");
    } else {
      dontMatch.classList.add("d-none");
      dontMatchConfirm.classList.add("d-none");
    }
  }

  function showPwReq() {
    let container = document.getElementById("PwReqBox");
    if (container.classList.contains("d-none")) {
      container.classList.remove("d-none");
      setTimeout(function () {
        container.classList.add("show");
      }, 10);
    } else {
      container.classList.remove("show");
      setTimeout(function () {
        container.classList.add("d-none");
      }, 500);
    }
  }
</script>

{% endblock %}
